src/_ReSharper.LiftBridge/
bin/
obj/
output/
Mercurial/
Perf test  results/
test-results/
_ReSharper.*
DistFiles/Mercurial/
DistFiles/Mercurial/MercurialExtensions/
MercurialExtensions/

Perf test  results/*.app6results
*.user
*.suo
*.userprefs
*.pidb
*~
DistFiles/.guidsForInstaller.xml
Mercurial/mercurial.ini
**.app7results
Patches/
*.pdb
*.mdb
lib/*/L10NSharp.dll
All*Files.lst
Download/
lib/*/Palaso*.dll
lib/*/Chorus*.exe
lib/*/LibChorus*.dll
lib/*/Mercurial*.zip
lib/*/icu*.dll*
lib/*/IPCFramework.dll
lib/*/Autofac.dll
lib/*/*HelpProvider.dll
lib/*/L10NSharp.xml
lib/*.msm
lib/*/*.config
lib/common/Chorus_Help.chm
/Mercurial
build/.nuget/
build/NuGet.exe
packages/
*.dll
src/Installer/output/
src/Installer/obj/
vcs_version
