.vs/
bin/
BuildDir/
DistFiles/Mercurial/
DistFiles/Mercurial/MercurialExtensions/
Mercurial/
MercurialExtensions/
obj/
output/
Perf test  results/
src/_ReSharper.LiftBridge/
test-results/

_ReSharper.*

*.user
*.suo
*.userprefs
*.pidb
*~
DistFiles/.guidsForInstaller.xml
**.app7results
Patches/
*.pdb
*.mdb
All*Files.lst
Download/
lib/*/SIL*.dll
lib/*/Palaso*.dll
lib/*/Chorus*.exe
lib/*/LibChorus*.dll
lib/*/Mercurial*.zip
lib/*/NDesk.DBus.dll*
lib/*/icu*.dll*
lib/*/IPCFramework.dll
lib/*/Autofac.dll
lib/Release/*.msm
lib/*/*.config
lib/common/Chorus_Help.chm
build/.nuget/
build/gitversion.json
build/NuGet.exe
build/nuget.exe
packages/
*.dll
src/Installer/output/
src/Installer/obj/
vcs_version
.idea/
build/MarkdownDeep.NET/
*.old
*.orig
*.swp
icu4c.readme.txt
gitversion.properties
GitVersionTaskAssemblyInfo.g.cs
.vs/
Mercurial/
MercurialExtensions/
build/FLExBridge.files
