body
{
background-color:#d7e4f4;
}

p
{
font-family:"Times New Roman";
font-size:20px;
}

table
{
width:100%;
box-shadow: 10px 10px 5px #888888;
}

#alpha
{
height:500px;
width:40%;
text-align:center;
font-size:24px;
font-weight:bold;
}

#beta
{
height:500px;
width:40%;
text-align:center;
font-size:24px;
font-weight:bold;
}

#stable
{
height:500px;
width:20%;
text-align:center;
}

#Alpha
{
height:100%;
width:100%;
}

#Beta
{
height:100%;
width:100%;
}
