<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="MercurialDir">
			<Component Id="hg.exe" Guid="1C7660F3-6A82-43B8-AAF8-616FB88EB8CD">
				<File Id="hg.exe" Name="hg.exe" KeyPath="yes" Source="..\..\Mercurial\hg.exe" />
			</Component>
			<Component Id="library.zip" Guid="23641BF5-49C5-421D-9D9B-CA3545DCDDD2">
				<File Id="library.zip" Name="library.zip" Source="..\..\Mercurial\library.zip" />
			</Component>
			<Component Id="mercurial.ini" Guid="59667CFF-C1D3-4FA1-B291-9880AB625A6C">
				<File Id="mercurial.ini" Name="mercurial.ini" Source="..\..\Mercurial\mercurial.ini" />
			</Component>
			<Component Id="python26.dll" Guid="4DAFD6DF-7DF3-4FDB-A030-4251D13B9259">
				<File Id="python26.dll" Name="python26.dll" Source="..\..\Mercurial\python26.dll" />
			</Component>
			<Component Id="ReadMe.html" Guid="47AFDC3C-85E3-4932-98AE-B8C6B4C8232D">
				<File Id="ReadMe.html" Name="ReadMe.html" Source="..\..\Mercurial\ReadMe.html" />
			</Component>
			<Directory Id="MercurialDir.hgrc.d" Name="hgrc.d">
				<Component Id="Mercurial.rc" Guid="F3A45628-7ECA-4A3A-A2CB-911B1ABC51B6">
					<File Id="Mercurial.rc" Name="Mercurial.rc" KeyPath="yes" Source="..\..\Mercurial\hgrc.d\Mercurial.rc" />
				</Component>
				<Component Id="MergeTools.rc" Guid="76629B0B-71D5-4266-8DBD-00F1A2C77909">
					<File Id="MergeTools.rc" Name="MergeTools.rc" Source="..\..\Mercurial\hgrc.d\MergeTools.rc" />
				</Component>
			</Directory>
			<Directory Id="MercurialDir.templates" Name="templates">
				<Component Id="map_cmdline.changelog" Guid="DE06F055-8F83-4442-A63B-900343DC1C25">
					<File Id="map_cmdline.changelog" Name="map-cmdline.changelog" KeyPath="yes" Source="..\..\Mercurial\templates\map-cmdline.changelog" />
				</Component>
				<Component Id="map_cmdline.compact" Guid="889BB4D8-846F-4B01-B786-18B6A82DFB05">
					<File Id="map_cmdline.compact" Name="map-cmdline.compact" Source="..\..\Mercurial\templates\map-cmdline.compact" />
				</Component>
				<Component Id="map_cmdline.default" Guid="6C0F1A4A-1110-401C-AD7A-E66066B6A77F">
					<File Id="map_cmdline.default" Name="map-cmdline.default" Source="..\..\Mercurial\templates\map-cmdline.default" />
				</Component>
				<Component Id="map_cmdline.xml" Guid="4765858A-AFC5-4705-B21D-DB515B27C035">
					<File Id="map_cmdline.xml" Name="map-cmdline.xml" Source="..\..\Mercurial\templates\map-cmdline.xml" />
				</Component>
				<Component Id="template_vars.txt" Guid="AA9EF795-36FC-40CF-A3BF-F713999EBBBE">
					<File Id="template_vars.txt" Name="template-vars.txt" Source="..\..\Mercurial\templates\template-vars.txt" />
				</Component>
				<Directory Id="MercurialDir.templates.atom" Name="atom">
					<Component Id="changelog.tmpl" Guid="AE40ECD5-882F-4036-B4BB-E4CCDFB0719F">
						<File Id="changelog.tmpl" Name="changelog.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\atom\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl" Guid="83CC5C6D-DA95-468E-8D27-7B05FE3B90BA">
						<File Id="changelogentry.tmpl" Name="changelogentry.tmpl" Source="..\..\Mercurial\templates\atom\changelogentry.tmpl" />
					</Component>
					<Component Id="error.tmpl" Guid="DE95BA63-B7E3-41F4-97A3-93B3C0A37AEF">
						<File Id="error.tmpl" Name="error.tmpl" Source="..\..\Mercurial\templates\atom\error.tmpl" />
					</Component>
					<Component Id="filelog.tmpl" Guid="D178424F-797F-4AF1-9986-F5BB667FE34D">
						<File Id="filelog.tmpl" Name="filelog.tmpl" Source="..\..\Mercurial\templates\atom\filelog.tmpl" />
					</Component>
					<Component Id="header.tmpl" Guid="5DA9D7ED-0333-4588-A710-7D591D3A5015">
						<File Id="header.tmpl" Name="header.tmpl" Source="..\..\Mercurial\templates\atom\header.tmpl" />
					</Component>
					<Component Id="map" Guid="703369CB-1C7F-446F-AFDE-D6C65BEBDA2F">
						<File Id="map" Name="map" Source="..\..\Mercurial\templates\atom\map" />
					</Component>
					<Component Id="tagentry.tmpl" Guid="984277F2-3AC9-41DF-B7B0-F363EE8A5FA2">
						<File Id="tagentry.tmpl" Name="tagentry.tmpl" Source="..\..\Mercurial\templates\atom\tagentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl" Guid="1B2AEBC9-6EC7-4F18-92D1-8AC183DCEE0F">
						<File Id="tags.tmpl" Name="tags.tmpl" Source="..\..\Mercurial\templates\atom\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.coal" Name="coal">
					<Component Id="header.tmpl1" Guid="2827572B-64F7-4AD9-8B64-EA8CBAA5224E">
						<File Id="header.tmpl1" Name="header.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\coal\header.tmpl" />
					</Component>
					<Component Id="map1" Guid="52B7D7F1-2508-4FC3-85F2-85F57792127A">
						<File Id="map1" Name="map" Source="..\..\Mercurial\templates\coal\map" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.gitweb" Name="gitweb">
					<Component Id="branches.tmpl" Guid="EF56E88E-E318-4E14-99A3-7204F37BF06B">
						<File Id="branches.tmpl" Name="branches.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\gitweb\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl1" Guid="B6DEA581-4956-40C7-BA8E-53EB0B048BF5">
						<File Id="changelog.tmpl1" Name="changelog.tmpl" Source="..\..\Mercurial\templates\gitweb\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl1" Guid="BD9DF6F8-B9C2-4F79-8566-5529EB1AA71D">
						<File Id="changelogentry.tmpl1" Name="changelogentry.tmpl" Source="..\..\Mercurial\templates\gitweb\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl" Guid="DB4742B2-CFC8-4F37-99A3-FD3E9CF02161">
						<File Id="changeset.tmpl" Name="changeset.tmpl" Source="..\..\Mercurial\templates\gitweb\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl1" Guid="FC7F7630-5FBA-42A0-A4D9-348AF0D9DFAE">
						<File Id="error.tmpl1" Name="error.tmpl" Source="..\..\Mercurial\templates\gitweb\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl" Guid="BFFF2607-B683-4D5D-96F5-5A1495240F82">
						<File Id="fileannotate.tmpl" Name="fileannotate.tmpl" Source="..\..\Mercurial\templates\gitweb\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl" Guid="A055DAF8-70F9-4ED2-AA06-B75F4ABF3631">
						<File Id="filediff.tmpl" Name="filediff.tmpl" Source="..\..\Mercurial\templates\gitweb\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl1" Guid="9CB0DCCC-0213-48FD-9955-EA7F982BBD28">
						<File Id="filelog.tmpl1" Name="filelog.tmpl" Source="..\..\Mercurial\templates\gitweb\filelog.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl" Guid="1085973A-3754-4A3B-9C76-22A6D9CB0C66">
						<File Id="filerevision.tmpl" Name="filerevision.tmpl" Source="..\..\Mercurial\templates\gitweb\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl" Guid="8EABAC87-F59F-438F-ACC8-9966018F7B8B">
						<File Id="footer.tmpl" Name="footer.tmpl" Source="..\..\Mercurial\templates\gitweb\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl" Guid="FE5D514D-79B9-40CB-88F1-0CCC298A5197">
						<File Id="graph.tmpl" Name="graph.tmpl" Source="..\..\Mercurial\templates\gitweb\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl2" Guid="37FB230C-7501-4F3F-A820-B13212933B9C">
						<File Id="header.tmpl2" Name="header.tmpl" Source="..\..\Mercurial\templates\gitweb\header.tmpl" />
					</Component>
					<Component Id="index.tmpl" Guid="958D0A90-9E42-4390-B230-EC7E54FBAADF">
						<File Id="index.tmpl" Name="index.tmpl" Source="..\..\Mercurial\templates\gitweb\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl" Guid="42524B7C-815B-4E46-9766-164579C49FA6">
						<File Id="manifest.tmpl" Name="manifest.tmpl" Source="..\..\Mercurial\templates\gitweb\manifest.tmpl" />
					</Component>
					<Component Id="map2" Guid="F16ECAD2-DB82-44BA-B692-599905A3E147">
						<File Id="map2" Name="map" Source="..\..\Mercurial\templates\gitweb\map" />
					</Component>
					<Component Id="notfound.tmpl" Guid="C9D1DA7F-F2E2-49C4-B65A-C122284722E5">
						<File Id="notfound.tmpl" Name="notfound.tmpl" Source="..\..\Mercurial\templates\gitweb\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl" Guid="89141A5F-6C48-43CD-9193-540DC32ECCA7">
						<File Id="search.tmpl" Name="search.tmpl" Source="..\..\Mercurial\templates\gitweb\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl" Guid="BE2A24F2-9E70-47D4-AB6F-B3CF2CFA3715">
						<File Id="shortlog.tmpl" Name="shortlog.tmpl" Source="..\..\Mercurial\templates\gitweb\shortlog.tmpl" />
					</Component>
					<Component Id="summary.tmpl" Guid="6BA0B37D-4366-44EA-829A-C771C6C5AB85">
						<File Id="summary.tmpl" Name="summary.tmpl" Source="..\..\Mercurial\templates\gitweb\summary.tmpl" />
					</Component>
					<Component Id="tags.tmpl1" Guid="986F1FDF-41FC-408E-B30C-C39B6E4ECC41">
						<File Id="tags.tmpl1" Name="tags.tmpl" Source="..\..\Mercurial\templates\gitweb\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.monoblue" Name="monoblue">
					<Component Id="branches.tmpl1" Guid="5EF4B3A7-E796-49B9-B285-DC330825C3C8">
						<File Id="branches.tmpl1" Name="branches.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\monoblue\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl2" Guid="8AE97510-6487-4B28-AD4A-418BAC9D8135">
						<File Id="changelog.tmpl2" Name="changelog.tmpl" Source="..\..\Mercurial\templates\monoblue\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl2" Guid="F5B4E440-C91E-4119-A787-A5676ECC4CE0">
						<File Id="changelogentry.tmpl2" Name="changelogentry.tmpl" Source="..\..\Mercurial\templates\monoblue\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl1" Guid="BE8FFAE3-D902-4B1C-B8BB-46389334AA74">
						<File Id="changeset.tmpl1" Name="changeset.tmpl" Source="..\..\Mercurial\templates\monoblue\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl2" Guid="8EA6D5B2-2880-4C24-91E0-BA6CC450AFD1">
						<File Id="error.tmpl2" Name="error.tmpl" Source="..\..\Mercurial\templates\monoblue\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl1" Guid="A2A9F6F2-BDC5-432E-9CE6-52BD01FE77F0">
						<File Id="fileannotate.tmpl1" Name="fileannotate.tmpl" Source="..\..\Mercurial\templates\monoblue\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl1" Guid="A73CD61C-AFE5-4EA0-BC8F-EB765CC3FAF6">
						<File Id="filediff.tmpl1" Name="filediff.tmpl" Source="..\..\Mercurial\templates\monoblue\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl2" Guid="341935C5-A9FE-4204-8F99-DEA95D85FD64">
						<File Id="filelog.tmpl2" Name="filelog.tmpl" Source="..\..\Mercurial\templates\monoblue\filelog.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl1" Guid="67302682-11BF-4CEF-BA50-976ED1574329">
						<File Id="filerevision.tmpl1" Name="filerevision.tmpl" Source="..\..\Mercurial\templates\monoblue\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl1" Guid="200B2C22-4D4D-4D7A-8511-C8ADDECD8DDE">
						<File Id="footer.tmpl1" Name="footer.tmpl" Source="..\..\Mercurial\templates\monoblue\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl1" Guid="599268D9-A98B-438D-A30B-FD652327A007">
						<File Id="graph.tmpl1" Name="graph.tmpl" Source="..\..\Mercurial\templates\monoblue\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl3" Guid="A5F0D7D5-5B15-4DEE-AF38-33BEB95A6244">
						<File Id="header.tmpl3" Name="header.tmpl" Source="..\..\Mercurial\templates\monoblue\header.tmpl" />
					</Component>
					<Component Id="index.tmpl1" Guid="98FBA4A7-82DB-4D3C-81ED-D265ADBB7D1E">
						<File Id="index.tmpl1" Name="index.tmpl" Source="..\..\Mercurial\templates\monoblue\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl1" Guid="53C54F91-A386-4BCB-BCDD-3DAB59605CD8">
						<File Id="manifest.tmpl1" Name="manifest.tmpl" Source="..\..\Mercurial\templates\monoblue\manifest.tmpl" />
					</Component>
					<Component Id="map3" Guid="26A01687-EF61-4B7F-A8AE-172DA9BFC2F3">
						<File Id="map3" Name="map" Source="..\..\Mercurial\templates\monoblue\map" />
					</Component>
					<Component Id="notfound.tmpl1" Guid="CC1BEFAF-8866-4F2B-A901-22EDBFF469A8">
						<File Id="notfound.tmpl1" Name="notfound.tmpl" Source="..\..\Mercurial\templates\monoblue\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl1" Guid="22A8106E-ED21-41D9-A009-B4D838B08D63">
						<File Id="search.tmpl1" Name="search.tmpl" Source="..\..\Mercurial\templates\monoblue\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl1" Guid="89E7C404-7E43-4ABB-AE5A-1C3B99B2246C">
						<File Id="shortlog.tmpl1" Name="shortlog.tmpl" Source="..\..\Mercurial\templates\monoblue\shortlog.tmpl" />
					</Component>
					<Component Id="summary.tmpl1" Guid="6941527B-03D2-49A0-B019-EA2D031B1E62">
						<File Id="summary.tmpl1" Name="summary.tmpl" Source="..\..\Mercurial\templates\monoblue\summary.tmpl" />
					</Component>
					<Component Id="tags.tmpl2" Guid="D370EC89-85EA-47B8-B173-8128697B0A60">
						<File Id="tags.tmpl2" Name="tags.tmpl" Source="..\..\Mercurial\templates\monoblue\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.paper" Name="paper">
					<Component Id="branches.tmpl2" Guid="BB9781E2-C393-4E09-8E64-0DAD464A6D22">
						<File Id="branches.tmpl2" Name="branches.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\paper\branches.tmpl" />
					</Component>
					<Component Id="changeset.tmpl2" Guid="117A2FAA-6B67-451E-8FB1-66965B0075F9">
						<File Id="changeset.tmpl2" Name="changeset.tmpl" Source="..\..\Mercurial\templates\paper\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl3" Guid="C4A784B6-0119-4972-8C01-17C4E804FA8D">
						<File Id="error.tmpl3" Name="error.tmpl" Source="..\..\Mercurial\templates\paper\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl2" Guid="A02A8F02-07F2-411E-BF72-18FB4A5105D0">
						<File Id="fileannotate.tmpl2" Name="fileannotate.tmpl" Source="..\..\Mercurial\templates\paper\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl2" Guid="AB3D7E93-4590-44F6-9B15-A9D38676725A">
						<File Id="filediff.tmpl2" Name="filediff.tmpl" Source="..\..\Mercurial\templates\paper\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl3" Guid="587B5579-8261-444E-8220-E035CAB94F32">
						<File Id="filelog.tmpl3" Name="filelog.tmpl" Source="..\..\Mercurial\templates\paper\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl" Guid="0EFD5562-071A-4604-9101-BE504E60F581">
						<File Id="filelogentry.tmpl" Name="filelogentry.tmpl" Source="..\..\Mercurial\templates\paper\filelogentry.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl2" Guid="DD276EFB-396F-4FD1-B5D1-98FA0EA266F9">
						<File Id="filerevision.tmpl2" Name="filerevision.tmpl" Source="..\..\Mercurial\templates\paper\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl2" Guid="16277F0D-FB35-4182-8700-69D9CC2679CD">
						<File Id="footer.tmpl2" Name="footer.tmpl" Source="..\..\Mercurial\templates\paper\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl2" Guid="59F3DB5E-AE92-48AA-942E-89ED016C5540">
						<File Id="graph.tmpl2" Name="graph.tmpl" Source="..\..\Mercurial\templates\paper\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl4" Guid="DA20F0C4-44D5-488A-9E7D-881D7E1435CD">
						<File Id="header.tmpl4" Name="header.tmpl" Source="..\..\Mercurial\templates\paper\header.tmpl" />
					</Component>
					<Component Id="index.tmpl2" Guid="C036639F-814F-4F6A-99C4-AD025B213A37">
						<File Id="index.tmpl2" Name="index.tmpl" Source="..\..\Mercurial\templates\paper\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl2" Guid="A016D289-FB81-4D4A-8FE6-8AA5BB03D447">
						<File Id="manifest.tmpl2" Name="manifest.tmpl" Source="..\..\Mercurial\templates\paper\manifest.tmpl" />
					</Component>
					<Component Id="map4" Guid="29AE390E-8FED-49FF-8723-9C4AE0581C15">
						<File Id="map4" Name="map" Source="..\..\Mercurial\templates\paper\map" />
					</Component>
					<Component Id="notfound.tmpl2" Guid="288CBC7C-7F48-475A-AD24-64C44C470C3B">
						<File Id="notfound.tmpl2" Name="notfound.tmpl" Source="..\..\Mercurial\templates\paper\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl2" Guid="751D0C50-E385-49D7-A2BE-88CFF1D15CF4">
						<File Id="search.tmpl2" Name="search.tmpl" Source="..\..\Mercurial\templates\paper\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl2" Guid="9BB2A4F3-721C-46D0-8B77-4422DF7DB43A">
						<File Id="shortlog.tmpl2" Name="shortlog.tmpl" Source="..\..\Mercurial\templates\paper\shortlog.tmpl" />
					</Component>
					<Component Id="shortlogentry.tmpl" Guid="77463FD9-56E6-493A-85A4-6D4B67A4BBC6">
						<File Id="shortlogentry.tmpl" Name="shortlogentry.tmpl" Source="..\..\Mercurial\templates\paper\shortlogentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl3" Guid="9E376716-66ED-4187-A851-C38B054F47B9">
						<File Id="tags.tmpl3" Name="tags.tmpl" Source="..\..\Mercurial\templates\paper\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.raw" Name="raw">
					<Component Id="changeset.tmpl3" Guid="CC76AF0F-1D23-4C93-BC5C-2160957DD11F">
						<File Id="changeset.tmpl3" Name="changeset.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\raw\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl4" Guid="787470E9-84A7-4973-8648-B62EAD4688AB">
						<File Id="error.tmpl4" Name="error.tmpl" Source="..\..\Mercurial\templates\raw\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl3" Guid="285C300A-EDC9-4796-821B-293EE0B2DA54">
						<File Id="fileannotate.tmpl3" Name="fileannotate.tmpl" Source="..\..\Mercurial\templates\raw\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl3" Guid="3F4A70DB-E04B-4991-AB30-2E1D229B6A8D">
						<File Id="filediff.tmpl3" Name="filediff.tmpl" Source="..\..\Mercurial\templates\raw\filediff.tmpl" />
					</Component>
					<Component Id="index.tmpl3" Guid="396B1290-2170-420A-8AE1-1DC8FDB9ED35">
						<File Id="index.tmpl3" Name="index.tmpl" Source="..\..\Mercurial\templates\raw\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl3" Guid="65DB1093-E2C6-465D-B1F7-9DAB5EEC6F2A">
						<File Id="manifest.tmpl3" Name="manifest.tmpl" Source="..\..\Mercurial\templates\raw\manifest.tmpl" />
					</Component>
					<Component Id="map5" Guid="8DA28C05-C7B5-4110-AFF6-5AAC927A6F98">
						<File Id="map5" Name="map" Source="..\..\Mercurial\templates\raw\map" />
					</Component>
					<Component Id="notfound.tmpl3" Guid="8D63DEE4-CA8F-4990-8BC3-5D9C380E6A22">
						<File Id="notfound.tmpl3" Name="notfound.tmpl" Source="..\..\Mercurial\templates\raw\notfound.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.rss" Name="rss">
					<Component Id="changelog.tmpl3" Guid="9108549C-88D6-4081-B473-092D46E1A1C4">
						<File Id="changelog.tmpl3" Name="changelog.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\rss\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl3" Guid="8948C7B2-41AD-4FFE-A76C-EA703AE4AB9A">
						<File Id="changelogentry.tmpl3" Name="changelogentry.tmpl" Source="..\..\Mercurial\templates\rss\changelogentry.tmpl" />
					</Component>
					<Component Id="error.tmpl5" Guid="78D7E4ED-7B5B-4F2A-A0BA-82F23F25354F">
						<File Id="error.tmpl5" Name="error.tmpl" Source="..\..\Mercurial\templates\rss\error.tmpl" />
					</Component>
					<Component Id="filelog.tmpl4" Guid="A10D1DE4-9C90-436F-9183-7BFC237D46AE">
						<File Id="filelog.tmpl4" Name="filelog.tmpl" Source="..\..\Mercurial\templates\rss\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl1" Guid="DD831C00-D165-46A7-BCB0-0BFE0A64E843">
						<File Id="filelogentry.tmpl1" Name="filelogentry.tmpl" Source="..\..\Mercurial\templates\rss\filelogentry.tmpl" />
					</Component>
					<Component Id="header.tmpl5" Guid="80B43EFA-8301-4049-B46B-7F5E18EBEE58">
						<File Id="header.tmpl5" Name="header.tmpl" Source="..\..\Mercurial\templates\rss\header.tmpl" />
					</Component>
					<Component Id="map6" Guid="55B81739-1B87-4A7A-8709-9F483E0FF7D3">
						<File Id="map6" Name="map" Source="..\..\Mercurial\templates\rss\map" />
					</Component>
					<Component Id="tagentry.tmpl1" Guid="19F2D2E3-A5AB-44D5-8017-C55B7A2FDC55">
						<File Id="tagentry.tmpl1" Name="tagentry.tmpl" Source="..\..\Mercurial\templates\rss\tagentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl4" Guid="5477941C-DE61-4915-90C3-8B72B5FBE994">
						<File Id="tags.tmpl4" Name="tags.tmpl" Source="..\..\Mercurial\templates\rss\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.spartan" Name="spartan">
					<Component Id="branches.tmpl3" Guid="D86B831D-B29B-479B-A1DF-100388B6FF97">
						<File Id="branches.tmpl3" Name="branches.tmpl" KeyPath="yes" Source="..\..\Mercurial\templates\spartan\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl4" Guid="468FC49A-765D-44E4-944F-C8A0557FE5BE">
						<File Id="changelog.tmpl4" Name="changelog.tmpl" Source="..\..\Mercurial\templates\spartan\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl4" Guid="159C28E4-7C74-49E1-9C8A-9A96BBF508DE">
						<File Id="changelogentry.tmpl4" Name="changelogentry.tmpl" Source="..\..\Mercurial\templates\spartan\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl4" Guid="0A987A4C-84A0-4A0F-9D7C-F15D84A95979">
						<File Id="changeset.tmpl4" Name="changeset.tmpl" Source="..\..\Mercurial\templates\spartan\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl6" Guid="0D42CAF3-8292-4EC3-8688-8576465B6614">
						<File Id="error.tmpl6" Name="error.tmpl" Source="..\..\Mercurial\templates\spartan\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl4" Guid="EAC2B819-03FF-480E-9B9F-02707211B4D2">
						<File Id="fileannotate.tmpl4" Name="fileannotate.tmpl" Source="..\..\Mercurial\templates\spartan\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl4" Guid="0F1F6B82-3D9C-4486-AA11-AC519DBCE15E">
						<File Id="filediff.tmpl4" Name="filediff.tmpl" Source="..\..\Mercurial\templates\spartan\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl5" Guid="C10702C7-5B72-402E-A8AE-DBB7B1AE409B">
						<File Id="filelog.tmpl5" Name="filelog.tmpl" Source="..\..\Mercurial\templates\spartan\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl2" Guid="D2BFE4C9-E870-47BD-A629-BED05A4CEE20">
						<File Id="filelogentry.tmpl2" Name="filelogentry.tmpl" Source="..\..\Mercurial\templates\spartan\filelogentry.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl3" Guid="2842DDB3-B676-4513-A43F-35F0327A6ABE">
						<File Id="filerevision.tmpl3" Name="filerevision.tmpl" Source="..\..\Mercurial\templates\spartan\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl3" Guid="6DDBAFB0-2FA3-4898-B731-6F5261C37BFA">
						<File Id="footer.tmpl3" Name="footer.tmpl" Source="..\..\Mercurial\templates\spartan\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl3" Guid="495D1323-3F2C-48D0-B929-AF3348AC2B53">
						<File Id="graph.tmpl3" Name="graph.tmpl" Source="..\..\Mercurial\templates\spartan\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl6" Guid="488A3D83-DCF2-4D01-BA30-8BC77746F2AD">
						<File Id="header.tmpl6" Name="header.tmpl" Source="..\..\Mercurial\templates\spartan\header.tmpl" />
					</Component>
					<Component Id="index.tmpl4" Guid="D204D0DE-3AFC-42C9-8FB6-527F4AB0F66B">
						<File Id="index.tmpl4" Name="index.tmpl" Source="..\..\Mercurial\templates\spartan\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl4" Guid="CC806056-9EC2-4501-8A12-362294B4A2CD">
						<File Id="manifest.tmpl4" Name="manifest.tmpl" Source="..\..\Mercurial\templates\spartan\manifest.tmpl" />
					</Component>
					<Component Id="map7" Guid="F7B7D41B-5907-4A79-89D7-57DF25D06600">
						<File Id="map7" Name="map" Source="..\..\Mercurial\templates\spartan\map" />
					</Component>
					<Component Id="notfound.tmpl4" Guid="BAB93787-4BCD-46AC-9C6B-382848977424">
						<File Id="notfound.tmpl4" Name="notfound.tmpl" Source="..\..\Mercurial\templates\spartan\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl3" Guid="B0B86C80-443E-4C76-A05B-CD4378BEB32A">
						<File Id="search.tmpl3" Name="search.tmpl" Source="..\..\Mercurial\templates\spartan\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl3" Guid="4DFF8402-91D2-49BE-B930-E37A9F33B546">
						<File Id="shortlog.tmpl3" Name="shortlog.tmpl" Source="..\..\Mercurial\templates\spartan\shortlog.tmpl" />
					</Component>
					<Component Id="shortlogentry.tmpl1" Guid="3CE770B3-5ACF-4B39-BCF2-B91617040711">
						<File Id="shortlogentry.tmpl1" Name="shortlogentry.tmpl" Source="..\..\Mercurial\templates\spartan\shortlogentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl5" Guid="A26AA608-60F1-4ED7-AFDD-45D6FDC9DE06">
						<File Id="tags.tmpl5" Name="tags.tmpl" Source="..\..\Mercurial\templates\spartan\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="MercurialDir.templates.static" Name="static">
					<Component Id="background.png" Guid="1875ADB0-2405-475A-A254-DC2ABB00E849">
						<File Id="background.png" Name="background.png" KeyPath="yes" Source="..\..\Mercurial\templates\static\background.png" />
					</Component>
					<Component Id="coal_file.png" Guid="C38C2A2B-58E0-4B57-B2A8-BB0D6BFB9492">
						<File Id="coal_file.png" Name="coal-file.png" Source="..\..\Mercurial\templates\static\coal-file.png" />
					</Component>
					<Component Id="coal_folder.png" Guid="98D563AB-702F-4DA0-8D0B-D763B5ABB80C">
						<File Id="coal_folder.png" Name="coal-folder.png" Source="..\..\Mercurial\templates\static\coal-folder.png" />
					</Component>
					<Component Id="excanvas.js" Guid="9ECB02C8-D6B9-4965-9A64-18E199420938">
						<File Id="excanvas.js" Name="excanvas.js" Source="..\..\Mercurial\templates\static\excanvas.js" />
					</Component>
					<Component Id="graph.js" Guid="B32C9186-9228-4F31-97DE-9D5EADFB3E7C">
						<File Id="graph.js" Name="graph.js" Source="..\..\Mercurial\templates\static\graph.js" />
					</Component>
					<Component Id="hgicon.png" Guid="E89CD32B-5B88-4739-85C1-14CDFA1D16FA">
						<File Id="hgicon.png" Name="hgicon.png" Source="..\..\Mercurial\templates\static\hgicon.png" />
					</Component>
					<Component Id="hglogo.png" Guid="BFE550D1-E321-4E61-ABD2-0FB0ED2D1F9D">
						<File Id="hglogo.png" Name="hglogo.png" Source="..\..\Mercurial\templates\static\hglogo.png" />
					</Component>
					<Component Id="style_coal.css" Guid="B1F05C28-40AB-4C1C-8FE2-D4FC27863A1C">
						<File Id="style_coal.css" Name="style-coal.css" Source="..\..\Mercurial\templates\static\style-coal.css" />
					</Component>
					<Component Id="style_gitweb.css" Guid="18AD865E-D77F-429A-AFDF-E1C1A679B53A">
						<File Id="style_gitweb.css" Name="style-gitweb.css" Source="..\..\Mercurial\templates\static\style-gitweb.css" />
					</Component>
					<Component Id="style_monoblue.css" Guid="35C08611-68F7-4459-9730-25F522F4E078">
						<File Id="style_monoblue.css" Name="style-monoblue.css" Source="..\..\Mercurial\templates\static\style-monoblue.css" />
					</Component>
					<Component Id="style_paper.css" Guid="C5649EDC-D1F3-4A61-97F0-42530ED2DC44">
						<File Id="style_paper.css" Name="style-paper.css" Source="..\..\Mercurial\templates\static\style-paper.css" />
					</Component>
					<Component Id="style.css" Guid="6013E3B7-D6C3-42B9-A4E6-2EC754935FA0">
						<File Id="style.css" Name="style.css" Source="..\..\Mercurial\templates\static\style.css" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
		<ComponentGroup Id="MercurialFiles">
			<ComponentRef Id="hg.exe" />
			<ComponentRef Id="library.zip" />
			<ComponentRef Id="mercurial.ini" />
			<ComponentRef Id="python26.dll" />
			<ComponentRef Id="ReadMe.html" />
			<ComponentRef Id="Mercurial.rc" />
			<ComponentRef Id="MergeTools.rc" />
			<ComponentRef Id="map_cmdline.changelog" />
			<ComponentRef Id="map_cmdline.compact" />
			<ComponentRef Id="map_cmdline.default" />
			<ComponentRef Id="map_cmdline.xml" />
			<ComponentRef Id="template_vars.txt" />
			<ComponentRef Id="changelog.tmpl" />
			<ComponentRef Id="changelogentry.tmpl" />
			<ComponentRef Id="error.tmpl" />
			<ComponentRef Id="filelog.tmpl" />
			<ComponentRef Id="header.tmpl" />
			<ComponentRef Id="map" />
			<ComponentRef Id="tagentry.tmpl" />
			<ComponentRef Id="tags.tmpl" />
			<ComponentRef Id="header.tmpl1" />
			<ComponentRef Id="map1" />
			<ComponentRef Id="branches.tmpl" />
			<ComponentRef Id="changelog.tmpl1" />
			<ComponentRef Id="changelogentry.tmpl1" />
			<ComponentRef Id="changeset.tmpl" />
			<ComponentRef Id="error.tmpl1" />
			<ComponentRef Id="fileannotate.tmpl" />
			<ComponentRef Id="filediff.tmpl" />
			<ComponentRef Id="filelog.tmpl1" />
			<ComponentRef Id="filerevision.tmpl" />
			<ComponentRef Id="footer.tmpl" />
			<ComponentRef Id="graph.tmpl" />
			<ComponentRef Id="header.tmpl2" />
			<ComponentRef Id="index.tmpl" />
			<ComponentRef Id="manifest.tmpl" />
			<ComponentRef Id="map2" />
			<ComponentRef Id="notfound.tmpl" />
			<ComponentRef Id="search.tmpl" />
			<ComponentRef Id="shortlog.tmpl" />
			<ComponentRef Id="summary.tmpl" />
			<ComponentRef Id="tags.tmpl1" />
			<ComponentRef Id="branches.tmpl1" />
			<ComponentRef Id="changelog.tmpl2" />
			<ComponentRef Id="changelogentry.tmpl2" />
			<ComponentRef Id="changeset.tmpl1" />
			<ComponentRef Id="error.tmpl2" />
			<ComponentRef Id="fileannotate.tmpl1" />
			<ComponentRef Id="filediff.tmpl1" />
			<ComponentRef Id="filelog.tmpl2" />
			<ComponentRef Id="filerevision.tmpl1" />
			<ComponentRef Id="footer.tmpl1" />
			<ComponentRef Id="graph.tmpl1" />
			<ComponentRef Id="header.tmpl3" />
			<ComponentRef Id="index.tmpl1" />
			<ComponentRef Id="manifest.tmpl1" />
			<ComponentRef Id="map3" />
			<ComponentRef Id="notfound.tmpl1" />
			<ComponentRef Id="search.tmpl1" />
			<ComponentRef Id="shortlog.tmpl1" />
			<ComponentRef Id="summary.tmpl1" />
			<ComponentRef Id="tags.tmpl2" />
			<ComponentRef Id="branches.tmpl2" />
			<ComponentRef Id="changeset.tmpl2" />
			<ComponentRef Id="error.tmpl3" />
			<ComponentRef Id="fileannotate.tmpl2" />
			<ComponentRef Id="filediff.tmpl2" />
			<ComponentRef Id="filelog.tmpl3" />
			<ComponentRef Id="filelogentry.tmpl" />
			<ComponentRef Id="filerevision.tmpl2" />
			<ComponentRef Id="footer.tmpl2" />
			<ComponentRef Id="graph.tmpl2" />
			<ComponentRef Id="header.tmpl4" />
			<ComponentRef Id="index.tmpl2" />
			<ComponentRef Id="manifest.tmpl2" />
			<ComponentRef Id="map4" />
			<ComponentRef Id="notfound.tmpl2" />
			<ComponentRef Id="search.tmpl2" />
			<ComponentRef Id="shortlog.tmpl2" />
			<ComponentRef Id="shortlogentry.tmpl" />
			<ComponentRef Id="tags.tmpl3" />
			<ComponentRef Id="changeset.tmpl3" />
			<ComponentRef Id="error.tmpl4" />
			<ComponentRef Id="fileannotate.tmpl3" />
			<ComponentRef Id="filediff.tmpl3" />
			<ComponentRef Id="index.tmpl3" />
			<ComponentRef Id="manifest.tmpl3" />
			<ComponentRef Id="map5" />
			<ComponentRef Id="notfound.tmpl3" />
			<ComponentRef Id="changelog.tmpl3" />
			<ComponentRef Id="changelogentry.tmpl3" />
			<ComponentRef Id="error.tmpl5" />
			<ComponentRef Id="filelog.tmpl4" />
			<ComponentRef Id="filelogentry.tmpl1" />
			<ComponentRef Id="header.tmpl5" />
			<ComponentRef Id="map6" />
			<ComponentRef Id="tagentry.tmpl1" />
			<ComponentRef Id="tags.tmpl4" />
			<ComponentRef Id="branches.tmpl3" />
			<ComponentRef Id="changelog.tmpl4" />
			<ComponentRef Id="changelogentry.tmpl4" />
			<ComponentRef Id="changeset.tmpl4" />
			<ComponentRef Id="error.tmpl6" />
			<ComponentRef Id="fileannotate.tmpl4" />
			<ComponentRef Id="filediff.tmpl4" />
			<ComponentRef Id="filelog.tmpl5" />
			<ComponentRef Id="filelogentry.tmpl2" />
			<ComponentRef Id="filerevision.tmpl3" />
			<ComponentRef Id="footer.tmpl3" />
			<ComponentRef Id="graph.tmpl3" />
			<ComponentRef Id="header.tmpl6" />
			<ComponentRef Id="index.tmpl4" />
			<ComponentRef Id="manifest.tmpl4" />
			<ComponentRef Id="map7" />
			<ComponentRef Id="notfound.tmpl4" />
			<ComponentRef Id="search.tmpl3" />
			<ComponentRef Id="shortlog.tmpl3" />
			<ComponentRef Id="shortlogentry.tmpl1" />
			<ComponentRef Id="tags.tmpl5" />
			<ComponentRef Id="background.png" />
			<ComponentRef Id="coal_file.png" />
			<ComponentRef Id="coal_folder.png" />
			<ComponentRef Id="excanvas.js" />
			<ComponentRef Id="graph.js" />
			<ComponentRef Id="hgicon.png" />
			<ComponentRef Id="hglogo.png" />
			<ComponentRef Id="style_coal.css" />
			<ComponentRef Id="style_gitweb.css" />
			<ComponentRef Id="style_monoblue.css" />
			<ComponentRef Id="style_paper.css" />
			<ComponentRef Id="style.css" />
		</ComponentGroup>
	</Fragment>
</Wix>