<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="MercurialExtensionsDir">
			<Directory Id="MercurialExtensionsDir.fixutf8" Name="fixutf8">
				<Component Id="_.hgignore" Guid="E5AA43C6-38AE-403E-AA96-723DD9AFF808">
					<File Id="_.hgignore" Name=".hgignore" KeyPath="yes" Source="..\..\MercurialExtensions\fixutf8\.hgignore" />
				</Component>
				<Component Id="_.hg_archival.txt" Guid="EDE20C20-BCE4-4E6C-BA03-F555C78CDDCE">
					<File Id="_.hg_archival.txt" Name=".hg_archival.txt" Source="..\..\MercurialExtensions\fixutf8\.hg_archival.txt" />
				</Component>
				<Component Id="buildcpmap.py" Guid="7526424F-A765-4F7D-B532-5F77FE930D7E">
					<File Id="buildcpmap.py" Name="buildcpmap.py" Source="..\..\MercurialExtensions\fixutf8\buildcpmap.py" />
				</Component>
				<Component Id="cpmap.pyc" Guid="72F2E472-557C-4A49-A608-AADCD7948C44">
					<File Id="cpmap.pyc" Name="cpmap.pyc" Source="..\..\MercurialExtensions\fixutf8\cpmap.pyc" />
				</Component>
				<Component Id="fixutf8.py" Guid="71EC7233-512C-4736-AED4-195B65F301BA">
					<File Id="fixutf8.py" Name="fixutf8.py" Source="..\..\MercurialExtensions\fixutf8\fixutf8.py" />
				</Component>
				<Component Id="fixutf8.pyc" Guid="8B3A25FE-923C-4309-9210-15D919451473">
					<File Id="fixutf8.pyc" Name="fixutf8.pyc" Source="..\..\MercurialExtensions\fixutf8\fixutf8.pyc" />
				</Component>
				<Component Id="fixutf8.pyo" Guid="C3EAEF71-96B2-4F02-948C-6974D991CBFD">
					<File Id="fixutf8.pyo" Name="fixutf8.pyo" Source="..\..\MercurialExtensions\fixutf8\fixutf8.pyo" />
				</Component>
				<Component Id="osutil.py" Guid="09C96D81-5640-424C-A353-F62003379C66">
					<File Id="osutil.py" Name="osutil.py" Source="..\..\MercurialExtensions\fixutf8\osutil.py" />
				</Component>
				<Component Id="osutil.pyc" Guid="213ECF68-2233-4432-A871-CEC770D243DB">
					<File Id="osutil.pyc" Name="osutil.pyc" Source="..\..\MercurialExtensions\fixutf8\osutil.pyc" />
				</Component>
				<Component Id="osutil.pyo" Guid="AAEB12DF-4DA5-4C88-A022-7DAF0BEFAB98">
					<File Id="osutil.pyo" Name="osutil.pyo" Source="..\..\MercurialExtensions\fixutf8\osutil.pyo" />
				</Component>
				<Component Id="README" Guid="DD7C1133-2EEA-42A5-BA36-D376405BC63A">
					<File Id="README" Name="README" Source="..\..\MercurialExtensions\fixutf8\README" />
				</Component>
				<Component Id="win32helper.py" Guid="D35FECFF-A1F4-4FE1-801A-E105755A4B4E">
					<File Id="win32helper.py" Name="win32helper.py" Source="..\..\MercurialExtensions\fixutf8\win32helper.py" />
				</Component>
				<Component Id="win32helper.pyc" Guid="76AE4E17-8B82-4AE6-9C61-D1D468AD6ACE">
					<File Id="win32helper.pyc" Name="win32helper.pyc" Source="..\..\MercurialExtensions\fixutf8\win32helper.pyc" />
				</Component>
				<Component Id="win32helper.pyo" Guid="9D6DB048-32AB-4B50-B088-8AFA70188566">
					<File Id="win32helper.pyo" Name="win32helper.pyo" Source="..\..\MercurialExtensions\fixutf8\win32helper.pyo" />
				</Component>
			</Directory>
		</DirectoryRef>
		<ComponentGroup Id="MercurialExtensionsFiles">
			<ComponentRef Id="_.hgignore" />
			<ComponentRef Id="_.hg_archival.txt" />
			<ComponentRef Id="buildcpmap.py" />
			<ComponentRef Id="cpmap.pyc" />
			<ComponentRef Id="fixutf8.py" />
			<ComponentRef Id="fixutf8.pyc" />
			<ComponentRef Id="fixutf8.pyo" />
			<ComponentRef Id="osutil.py" />
			<ComponentRef Id="osutil.pyc" />
			<ComponentRef Id="osutil.pyo" />
			<ComponentRef Id="README" />
			<ComponentRef Id="win32helper.py" />
			<ComponentRef Id="win32helper.pyc" />
			<ComponentRef Id="win32helper.pyo" />
		</ComponentGroup>
	</Fragment>
</Wix>