<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="FW7INSTALLDIR">
			<Component Id="about.htm" Guid="C1ECD187-E382-11DE-8A39-0800200C9A66">
				<File Id="about.htm" Name="about.htm" KeyPath="yes" Source="..\..\DistFiles\about.htm" />
			</Component>
			<Component Id="license.rtf" Guid="C1ECD188-E382-11DE-8A39-0800200C9A66">
				<File Id="license.rtf" Name="license.rtf" Source="..\..\DistFiles\license.rtf" />
			</Component>
			<Component Id="LogoForAbout.png" Guid="C1ECD189-E382-11DE-8A39-0800200C9A66">
				<File Id="LogoForAbout.png" Name="LogoForAbout.png" Source="..\..\DistFiles\LogoForAbout.png" />
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="DistFiles">
			<ComponentRef Id="about.htm" />
			<ComponentRef Id="license.rtf" />
			<ComponentRef Id="LogoForAbout.png" />
		</ComponentGroup>
	</Fragment>
</Wix>