<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME  (in quotes)-->
<?define Property_ProductVersion = ".*" ?> <!--this is replaced at build time by the msbuild 'package' target -->
<?define Property_ProductCode = "*" ?> <!-- auto-generate a new guid each time -->
<?define Property_UpgradeCode = "{c1ecd18b-e382-11de-8a39-0800200c9a66}" ?> <!--Don't even think of EVER changing this -->

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="Lift Bridge for FieldWorks 7" Language="1033"
			 Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
			 UpgradeCode="$(var.Property_UpgradeCode)">

	<Package  Compressed="yes" InstallerVersion="200" />

	<Upgrade Id ="$(var.Property_UpgradeCode)" >
	  <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
	  <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
	</Upgrade >

	<Property Id="FW7INSTALLDIR">
	  <RegistrySearch Id="SearchForFW7" Root="HKLM" Key="SOFTWARE\SIL\FieldWorks\7.0" Name="RootCodeDir" Type="raw" />
	</Property>

	<UIRef Id="WixUI_Minimal"/>

<!-- # WixUIBannerBmp / Top banner / 493 × 58
# WixUIDialogBmp / Background bitmap used on the welcome and completion dialogs / 493 × 312

	<WixVariable Id='WixUIBannerBmp' Value='..\..\artwork\installerBanner.bmp' />
	<WixVariable Id='WixUIBannerBmp' Value='..\..\artwork\topOfInstaller.jpg' />
	<WixVariable Id='WixUIDialogBmp' Value='..\..\artwork\installerBackground.jpg' />
-->

	<WixVariable Id="WixUILicenseRtf" Value="..\..\distfiles\License.rtf" />

	<!--
	"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

	<Condition Message="Before Lift Bridge can install, you need to install SIL's FieldWorks 7.">
	  Installed OR FW7INSTALLDIR
	</Condition>
	<PropertyRef Id="NETFRAMEWORK35" />
	<Condition Message="Before Lift Bridge can install, you need to install Microsoft's free .NET Framework 3.5.">
	  Installed OR NETFRAMEWORK35
	</Condition>

	<!--because of bug, this needs to be 1 -->
	<Property Id ="ALLUSERS">1</Property>

	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Directory Id="ProgramFilesFolder" Name="PFiles">
		<Directory Id="FW7INSTALLDIR" Name="."> <!-- Overrides the parent folder -->
		  <Directory Id="LiftBridge" Name="LB">
			<!-- Add all of the main LB assemblies here. -->
			<Component Id="Autofac.dll" Guid="{c1ecf880-e382-11de-8a39-0800200c9a66}">
			  <File Id="Autofac.dll" Name="Autofac.dll" KeyPath="yes" Source="..\..\output\Release\Autofac.dll" />
			</Component>
			<Component Id="Chorus.exe" Guid="{c1ecf884-e382-11de-8a39-0800200c9a66}">
			  <File Id="Chorus.exe" Name="Chorus.exe" KeyPath="yes" Source="..\..\output\Common\Chorus.exe" />
			</Component>
			<Component Id="ChorusMerge.exe" Guid="{c1ecf882-e382-11de-8a39-0800200c9a66}">
			  <File Id="ChorusMerge.exe" Name="ChorusMerge.exe" KeyPath="yes" Source="..\..\output\Common\ChorusMerge.exe" />
			</Component>
			<Component Id="LibChorus.dll" Guid="{c1ecf885-e382-11de-8a39-0800200c9a66}">
			  <File Id="LibChorus.dll" Name="LibChorus.dll" KeyPath="yes" Source="..\..\output\Common\LibChorus.dll" />
			</Component>
			<Component Id="Palaso.dll" Guid="{c1ecf886-e382-11de-8a39-0800200c9a66}">
			  <File Id="Palaso.dll" Name="Palaso.dll" KeyPath="yes" Source="..\..\output\Common\Palaso.dll" />
			</Component>
			<Component Id="icu.net.dll" Guid="{c1ecf887-e382-11de-8a39-0800200c9a66}">
			  <File Id="icu.net.dll" Name="icu.net.dll" KeyPath="yes" Source="..\..\output\Common\icu.net.dll" />
			</Component>

			<Component Id="LiftBridge.dll" Guid="{c1ecf883-e382-11de-8a39-0800200c9a66}">
			  <File Id="LiftBridge.dll" Name="LiftBridge.dll" KeyPath="yes" Source="..\..\output\Release\LiftBridge.dll" />
			</Component>

			<!-- Hopefully, the generated stuff will see that all the Hg gets added here. -->
			<Directory Id="MercurialDir" Name="Mercurial" />

		  </Directory>
		</Directory>
	  </Directory>
	</Directory>

	<Feature Id="ProductFeature" Level="1" Title="Basic Stuff">

	  <ComponentRef Id ="Autofac.dll"/>
	  <ComponentRef Id="Chorus.exe"/>
	  <ComponentRef Id="ChorusMerge.exe"/>
	  <ComponentRef Id="LibChorus.dll"/>
	  <ComponentRef Id="Palaso.dll"/>
	  <ComponentRef Id="icu.net.dll"/>

	  <ComponentRef Id="LiftBridge.dll"/>

	  <!-- Generated components -->
	  <ComponentGroupRef Id ="DistFiles"/>
	  <ComponentGroupRef Id ="MercurialFiles"/>

	</Feature>

	<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
	<!-- what you see in add/remove programs control panel -->
	<Property Id="ARPPRODUCTICON" Value="Lift Bridge for FieldWorks 7" />

	<InstallExecuteSequence>
	  <RemoveExistingProducts After="InstallInitialize" />
	</InstallExecuteSequence>
  </Product>
</Wix>
