Source: flexbridge
Section: misc
Priority: extra
Maintainer: Stephen McConnel <stephen_mcconnel@sil.org>
Build-Depends: debhelper (>= 8.0.0),
 mono-sil, libgdiplus-sil,
 cli-common-dev,
 geckofx29, unzip, wget,
 pkg-config,
 curl,
 ca-certificates,
 adduser (>= 3.11)
Standards-Version: 3.9.2
Homepage: http://projects.palaso.org/projects/fwbridge
#Vcs-Git: git://git.debian.org/collab-maint/flexbridge.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/flexbridge.git;a=summary

Package: flexbridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.7), python (<< 2.8),
 mono-sil, libgdiplus-sil,
 libgtk2.0-0,
 geckofx29,
 unzip,
 fieldworks-applications (>> 8.1.9)
Description: Allow multiple FieldWorks users to collaborate remotely
 FLEx Bridge is an application that allows multiple FieldWorks 8.0 users
 to do remote collaboration (i.e., not necessarily connected by a local
 network).  Data can be shared via a local network (which is not really
 "remote"), the Internet, or a USB memory device.
