#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export XDG_CONFIG_HOME=/tmp/.config

%:
	dh $@ --with cli

override_dh_clideps:
	dh_clideps \
		--exclude-moduleref=icuuc48.dll \
		--exclude-moduleref=icuin48.dll
