<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="4.0.0-beta0012" targetFramework="net40-client" developmentDependency="true" />
  <package id="icu.net" version="2.5.4" targetFramework="net461" />
  <package id="Icu4c.Win.Min" version="54.1.31" targetFramework="net40" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Vulcan.Uczniowie.HelpProvider" version="1.0.0" targetFramework="net461" />
</packages>