# Copyright (c) 2024 SIL International
# This software is licensed under the MIT license (http://opensource.org/licenses/MIT)

root = false

# Override indent style and final newline defaults for this project only
[*]
indent_style = space
insert_final_newline = true

[*.cs]
indent_style = space
